body{
    
}

.navbar{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    /* position: fixed;
    z-index: 1; */
}
.img img{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    object-fit: cover;
}
.img{
    display: flex;
    align-items: center;
    gap: 11px;
}
.main{
    width: 80%;
    margin: 0px auto;
    margin-top: 50px;
}
span{
    color: rgb(87, 87, 224);
}
.row1{
    margin-bottom: 10px;
    padding: 10px;
   
}
.cart h1{
    font-size: 60px !important;
}
.cart{
    text-align: center;
}

.btn{
    padding: 5px 40%;
}
.size{
    font-size: 25px;
   
}
.mainSec{
    margin-top: 90px !important;
    margin: 0px auto;
    width: 80%;
}
.mainSec h1{
    color: rgb(87, 87, 224);
}
.btnSize{
    width: 100%;
    padding: 25px 40px;
    background-color: rgb(240, 238, 238);
    text-align: left;
    color: black;
    font-size: 20px;
    border: 0.5px solid rgb(197, 194, 194) ;
    
    
}
.btnSize:hover{
    background-color: rgb(228, 224, 224);
    color: black;
}
.haeding{
    width: 80%;
    margin: 0px auto;
    margin-top: 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding: 10px;
}
.dropdown-item{
    font-size: 25px;
    padding: 7px 100px 13px 20px;
    margin: 2px;
}

.dropdown-item:hover{
    background-color: rgb(50, 50, 243);
    color: white;
    
}
.containes{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-top: 20px !important;
    padding: 30px;
    width: 90%;
    margin: 0px auto;
}

.end{
    width: 50%;
    margin: 0px auto;
    
}

.credits{
    text-align: center;
    align-items: center;
}

#choice li{
   
    font-size: 1.4rem;
    margin-left: 10px;
}
#score{
    font-weight: 700;
}
.backcolor{
    background-color: rgb(12, 12, 17) !important;
}

.login{
    width: 400px;
    /* height: 400px; */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 15px;
    margin-top: 200px !important;
    margin: 0px auto;
    border: 1px solid black;
    padding: 20px;
    text-align: center;
    background-color: rgb(227, 227, 230);
}
 
@media screen and (max-width: 580px) {
    .login{
        width: 90%;
        padding: 5px;
    }
    .senter{
        text-align: center;
    }
    .loginUser{
        margin: 0px auto;
    }
}

.loginUser{
    width: 90%;
    text-align:left ;
}
.inputSec{
    width: 100%;
    border-radius: 4px;
    padding: 8px;
}
.alin{
    width: 100%;
}

#keyLock{
    margin-top: 100px !important;
    width: 90%;
    /* height: 100px; */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 20px 20px;
    margin: 0px auto;
}


.keyBtn{
    width: 150px !important;
    /* height: 100px !important; */
    margin: 0px auto !important;
    background-color: rgb(77, 194, 112);
    /* align-items: center; */
    display: flex;
    justify-content:center;
    border-radius: 7px;
    color: black;

}
.keyBtn:hover{
    background-color:  rgb(52, 173, 91);
    color: white;
    border-color: white;
}